<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Report</title>
</head>
<body>
    <div class="container-fluid">
        <div>
            <ul class="pagination">
            {% for failure in failures %}
                <li class="page-item"><a href="failure{{loop.index}}.html">{{loop.index}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div>
            <h1 align="center">Patient {{current_failure['patient_id']}}</h1>
        </div>
        <div>
            <h3>Letter Text</h3>
            <p>{{ current_failure['letter'].replace('\n', '<br>') }}</p>
            <div>
                <h3>Final Score</h3>
                <p>{{ current_failure['score'] }}</p>
                <p>was determined to be <b>{{current_failure['score']>0}}</b>, should be <b>{{current_failure['label']}}</b></p>
            </div>
            <div>
                <h3>Regular Expression Matches</h3>
                <ul>
                    {% for match in current_failure['matches'] %}
                    <li>
                        <div>
                            <h4>Score</h4>
                            {{ match[1] }}
                            <h4>Match</h4>
                            {{ match[0].group(0) }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>